<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.0373563 -0.0314662 0.0603106" rpy="0.0115696 -0.16852 1.57085" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.036499 -0.034889 0.0594   0.00252743 0.0065769 0.70345566 0.71070423 panda_hand camera_color_optical_frame_C" />
</launch>
