<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="use_ar_tags" default="false"/>

    <node name="block_pose_pub" pkg="panda_vision" type="block_pose_pub.py" output="screen" >
        <param name="use_ar_tags" value="$(arg use_ar_tags)"/>
    </node>

    <node name="block_pose_server" pkg="panda_vision" type="block_pose_server.py" output="screen" />

    <include file="$(find panda_vision)/launch/calibrations/1_30_2021_daniilidis_camA_custom_intrinsics.launch" />
    <include file="$(find panda_vision)/launch/calibrations/1_30_2021_daniilidis_camB_custom_intrinsics.launch" />
    <include file="$(find panda_vision)/launch/calibrations/2_3_2021_daniilidis_camC_default_intrinsics.launch" />

</launch>
